body{
    display: flex;
    /* flex: 1; */
    background-color: rgb(245, 244, 244);
    justify-content: center;
    align-items: center;
    /* align-content: center; */
    /* align-content: ; */
    background-color: cadetblue;

}
#container{
    display: flex;
    /* flex-direction: column; */
    flex: 1 0 2000px;
    /* width: 100; */
    /* height: 100vmax; */
    align-self: center;
    justify-content: center;
    /* align-items: center; */
    background-color: rgb(49, 49, 52);
}
#parOfButtons{
    display: flex;
    background-color: rgb(246, 245, 245);
    border: 1px solid rgb(68, 66, 66);
}

#calculator{
display: flex;
flex-direction: column;
/* flex: 1; */
height: 300px;
width: 300px;
border: 2px solid;
margin: 10px;
padding: 10px;
border-color: black;
background-color: rgb(54, 62, 62);
}
#displayAndEqual{
    display: flex;
    background-color: rgb(52, 60, 45);
    border: 5px solid black;
    color: white;
}
#parOfButtons{
    display: flex;
    flex: 1;

}
#dispOfNum{
    display: flex;
    /* flex: 1; */
    color: white;
    background-color: white;
    border: 1px solid rgb(106, 99, 99);
    width: 50px;
    height: 20px;
}
#butSection{
    display: flex;
    flex: 1px;
    /* height: 50px; */
    /* width: 50px; */
    /* align-items: center; */
    /* justify-content: center; */
    background-color: #6dbfbf;
    border: 1px solid black;
    /* border-radius: 30px; */
    flex-wrap: wrap;
}
#opSection {
    display: flex;
    flex-direction: column;
    background-color: #6dbfbf;
    /* flex: 1 0 30px; */
    width: 60px;
    /* height: 10px; */
    }
.numbers{
    display: flex;
    flex: 1 0 40px;
    margin: 5px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    background-color: rgb(54, 85, 116);

    /* flex-direction: column; */
    /* flex-wrap: wrap; */
    /* width: 60px; */
    /* height: 60px; */
}
.operators{
    display: flex;
    flex: 1 0 30px;
    margin: 5px;
    padding: 3px;
    justify-content: center;
    align-items: center;
    background-color: rgb(38, 138, 133);
    font-size: 24px;
}
/* p{
    font-size: 24px;
    border: white;

} */
#displayAndEqual{
    background-color: #6dbfbf;
    display: flex;
    flex: 0 0 40px;
    font-size: 24px;
    /* flex-wrap: wrap; */
}